name: Extend PythonAnywhere

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch: {}

jobs:
  extend:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          pip install requests beautifulsoup4

      - name: Run extender
        env:
          PA_USERNAME: ${{ secrets.PA_USERNAME }}
          PA_PASSWORD: ${{ secrets.PA_PASSWORD }}
        run: |
          python3 extend.py
